body {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

.main-name {
    width: 1200px;
    margin: auto;
}

.main-name a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 3px;
    background-color: rgb(224, 172, 162);
}

.main-name ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    list-style: none;
}

.main-name ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.main-name a:hover {
    box-shadow: 2px 2px 8px;
    opacity: .9;
}

@media(max-width:1200px) {
    .main-name {
        width: auto;
        margin: 0 10px;
    }
}

@media(max-width:500px) {
    .main-name ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        align-items: center;
        text-align: center;
    }
    .main-name ul li {
        margin-top: 40px;
        margin-right: 40px;
    }
}
