body {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

.style-grid {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.pictures-grid {
    margin: 30px;
}

.eyes {
    width: 380px;
    height: 120px;
}


/*
.style-grid {
    width: 1200px;
    margin: 100px auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.eyes {
    width: 380px;
}

@media(max-width:1000px) {
    .style-grid {
        margin: 100px 70px;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        width: auto;
    }
    .eyes {
        width: 360px;
    }
}

@media(max-width:700px) {
    .style-grid {
        margin: 100px 50px;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        width: auto;
    }
    .eyes {
        width: 340px;
    }
}
*/