body {
    padding: none;
    margin: none;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.style-grid {
    width: 1200px;
    margin: 100px auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.eyes {
    height: 100px;
    width: 400px;
}

.pictures-grid {
    height: 200px;
}

.maintenance {
    text-align: center;
    width: 1200px;
    margin: auto;
}

hr {
    border: 1px solid black;
    width: 1200px;
    margin: auto;
}

@media(max-width:1200px) {
    .style-grid {
        width: auto;
        margin: 100px auto;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .maintenance {
        text-align: center;
        width: auto;
    }
    hr {
        border: 1px solid black;
        width: auto;
    }
}

@media(max-width:800px) {
    .style-grid {
        margin: 100px auto;
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pictures-grid {
        height: 220px;
    }
    .eyes {
        height: 90px;
        width: 370px;
    }
    p {
        margin: 0 10px;
    }
    hr {
        border: 1px solid black;
    }
}
